
:root{
    --bs-danger-rgb: 255, 35, 35;
    --bs-dark-rgb: 0, 17, 33;
}

img{
    width: 100%;
}

.as-1{
    aspect-ratio: 1/1 !important;
}

.nav-link {
    color: #bfbfbf !important;
    position: relative !important;
    transition: all .4s;

    &:hover {
        color: #fff !important;
        transform: translateY(-12%);
    }

    &::after {
        position: absolute;
        content: '';
        left: 50%;
        bottom: 0;
        width: 0%;
        height: 3px;
        background-color: #fff;
        transform: translateX(-50%);
        transition: all 0.3s;
    }

    &:hover::after {
        width: 100%;
    }
}

.custom-frame{
    width: 98%;
    border: 1rem solid rgb(255, 35, 35);
    border-right-color: transparent;
    border-radius: 50% 0 0 50%;
    align-content: center;

    &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        height: calc(100% + 31px);
        width: 70vw;
        border: 1rem solid rgb(255, 35, 35);
        border-left: none;
        border-right: none;
    }
}

.profile-image {
    aspect-ratio: 1/1 !important;
    border-radius: 50% 50% 0 50%;
    border: 15px solid #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

@keyframes patternRotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

::-webkit-scrollbar{
    width: 0px;
}